@font-face {
  font-family: Novecentos;
  src: url("font/Novecentosanswide-Normal.otf");
}
body {
  background: #1a1916;
  color: #f3f3f4;
  overflow-x: hidden;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

:root {
  font-size: 30px;
  --acc-clr: #2290bc;
}

* {
  font-family: "novecento-sans-wide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: #77e261;
  color: #1a1916;
}

#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  box-sizing: border-box;
  padding: 1rem 1rem;
}
#navbar a {
  font-size: 0.8rem;
  color: #77e261;
  text-decoration: none;
}
#navbar #logo-link {
  transition: 0.15s all;
}
#navbar #nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#navbar #nav-links .nav-link {
  border-radius: 10px;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  transition: 0.15s all;
  line-height: 0.9rem;
  cursor: pointer;
  background: rgba(85, 85, 85, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #f3f3f4;
}
#navbar #nav-links .nav-link:active {
  background: rgba(59, 58, 58, 0.2);
}
#navbar #nav-links .nav-link:focus {
  background: rgba(59, 58, 58, 0.2);
}
#navbar #nav-links .nav-link:hover {
  background: rgba(59, 58, 58, 0.2);
}
#navbar #nav-links .nav-link:hover {
  transform: scale(1.05);
}

#hero-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
#hero-section #vector-bcg {
  position: fixed;
  width: 300vw;
  height: 300vh;
  z-index: -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0;
}
#hero-section #vector-bcg .circle-holder {
  width: 100%;
  height: 100%;
  position: relative;
}
#hero-section #vector-bcg .circle-holder div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  aspect-ratio: 1/1;
}
#hero-section #vector-bcg .circle-holder div:nth-child(odd) {
  background: color-mix(in srgb, #c3c2c2 2%, transparent);
}
#hero-section #vector-bcg .circle-holder div:nth-child(even) {
  background: #1a1916;
}
#hero-section #vector-bcg .circle-holder div:nth-child(1) {
  height: 55%;
}
#hero-section #vector-bcg .circle-holder div:nth-child(2) {
  height: 45%;
}
#hero-section #vector-bcg .circle-holder div:nth-child(3) {
  height: 35%;
}
#hero-section #vector-bcg .circle-holder div:nth-child(4) {
  height: 27%;
}
#hero-section #vector-bcg .circle-holder div:nth-child(5) {
  height: 10%;
}
#hero-section h1 {
  margin: 0;
  font-size: 2rem;
  color: #77e261;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
#hero-section h3 {
  margin: 0;
  opacity: 0.2;
  font-size: 0.95rem;
}

#matches-section {
  background: #1a1916;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.09);
  padding: 5rem 0;
  width: 100%;
  height: 100vh;
}
#matches-section .match-container {
  position: relative;
  height: 40vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
@media (orientation: portrait) {
  #matches-section .match-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }
}
#matches-section .match-container .match-info {
  border: 2px solid rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}
@media (orientation: portrait) {
  #matches-section .match-container .match-info {
    width: 100%;
    height: 50%;
  }
}
#matches-section .match-container .match-info .main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 60%;
}
#matches-section .match-container .match-info .main-content h2 {
  margin: 0;
  position: relative;
}
#matches-section .match-container .match-info .main-content h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  width: 100%;
  height: 2px;
  background: #77e261;
}
#matches-section .match-container .match-info .main-content p {
  margin-top: 0.5rem;
}
#matches-section .match-container .match-info .match-status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}
#matches-section .match-container .match-info .match-status button {
  border-radius: 10px;
  color: #f3f3f4;
  padding: 0.2rem 0.6rem 0.32rem 0.6rem;
  cursor: pointer;
  background: rgba(85, 85, 85, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
#matches-section .match-container .match-info .match-status button:active {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-info .match-status button:focus {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-info .match-status button:hover {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-info .match-status button.ongoing {
  background: rgba(53, 61, 42, 0.44);
  border: 1px solid rgba(138, 201, 38, 0.44);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
#matches-section .match-container .match-info .match-status button.ongoing:active {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-info .match-status button.ongoing:focus {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-info .match-status button.ongoing:hover {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-info .match-status button.ended {
  background: rgba(68, 50, 50, 0.44);
  border: 1px solid rgba(201, 38, 38, 0.44);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
#matches-section .match-container .match-info .match-status button.ended:active {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-info .match-status button.ended:focus {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-info .match-status button.ended:hover {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-contestants {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  width: 30%;
  height: 100%;
  left: 45%;
}
#matches-section .match-container .match-contestants > span button {
  background: rgba(85, 85, 85, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  color: #f3f3f4;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
}
#matches-section .match-container .match-contestants > span button:active {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-contestants > span button:focus {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-contestants > span button:hover {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-contestants ul {
  list-style: none;
  margin: 0;
  width: 100%;
}
#matches-section .match-container .match-contestants ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  margin-left: 10%;
  width: 100%;
  font-size: 0.8rem;
  color: color-mix(in srgb, #f3f3f4 30%, transparent);
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
}
#matches-section .match-container .match-contestants ul li:nth-child(even) {
  background: rgba(75, 75, 75, 0.07);
}
#matches-section .match-container .match-contestants ul li a {
  text-align: left;
}
#matches-section .match-container .match-contestants ul li button {
  background: rgba(85, 85, 85, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  color: #f3f3f4;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
}
#matches-section .match-container .match-contestants ul li button:active {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-contestants ul li button:focus {
  background: rgba(59, 58, 58, 0.2);
}
#matches-section .match-container .match-contestants ul li button:hover {
  background: rgba(59, 58, 58, 0.2);
}
@media (orientation: portrait) {
  #matches-section .match-container .match-contestants {
    width: 100%;
    height: 50%;
    left: 0;
  }
  #matches-section .match-container .match-contestants ul {
    padding: 0;
  }
  #matches-section .match-container .match-contestants ul li {
    margin-left: 0;
  }
}

#login-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 45vw;
  background: color-mix(in srgb, #1a1916, transparent 20%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.13);
  z-index: 1000;
  transition: 300ms all;
  transform: translateX(100%);
  font-size: 30px;
}
@media (orientation: portrait) {
  #login-container {
    width: 100vw;
  }
}
#login-container h2 {
  margin: 0;
}
#login-container #close-btn {
  background: rgba(85, 85, 85, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  color: #f3f3f4;
  padding: 0.2rem 0.6rem 0.32rem 0.6rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1002;
}
#login-container #close-btn:active {
  background: rgba(59, 58, 58, 0.2);
}
#login-container #close-btn:focus {
  background: rgba(59, 58, 58, 0.2);
}
#login-container #close-btn:hover {
  background: rgba(59, 58, 58, 0.2);
}
#login-container a {
  position: relative;
  cursor: pointer;
  font-size: 0.7em;
}
#login-container a:after {
  content: "";
  position: absolute;
  bottom: 0.15rem;
  left: -2%;
  width: 0;
  height: 10px;
  border-radius: 2px;
  z-index: -1;
  background: color-mix(in srgb, #77e261, transparent 30%);
  transition: 0.15s width;
}
#login-container a:hover:after {
  width: calc(100% + 2 * 2%);
}
#login-container .submit-button {
  width: 60%;
  height: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  color: #1a1916;
  transition: 0.15s all;
  background: rgba(255, 255, 255, 0.88);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.12);
}
#login-container .submit-button:hover {
  background: rgba(255, 255, 255, 0.82);
}
#login-container .input-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0rem;
}
#login-container .input-container:not(#password-container) input {
  transition: 0.3s all;
  width: 100%;
}
#login-container .input-container#password-container input {
  width: calc(100% - 1.5rem);
  transition: 0.3s all;
}
#login-container .input-container#password-container #show-password {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: white;
  margin-left: 0.4rem;
  width: 1rem;
  transition: 0.15s all;
}
#login-container .input-container#password-container #show-password:hover {
  color: rgba(255, 255, 255, 0.73);
}
#login-container .input-container#password-container #show-password:active {
  transform: scale(0.95);
}
#login-container .input-field {
  font-family: Novecentos, serif;
  color: white;
  height: 1.5rem;
  box-sizing: border-box;
  background: rgba(85, 85, 85, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 0.2rem 0.6rem;
}
#login-container .input-field:active {
  background: rgba(59, 58, 58, 0.2);
}
#login-container .input-field:focus {
  background: rgba(59, 58, 58, 0.2);
}
#login-container .input-field:hover {
  background: rgba(59, 58, 58, 0.2);
}
#login-container .input-field:focus {
  outline: none;
  transform: scale(1.02);
}

/*# sourceMappingURL=style.css.map */
